Necessary files
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{% set in_kuiper = in_kuiper | default(true) %}

{% if fpga_family == "microblaze" %}
.. note::

  This carrier only has programming logic (PL) and, thus, a Microblaze soft core
  is necessary to run Linux. As such, the files required for running Linux need
  to be manually built.

{% elif fpga_family in ["agilex7soc", "stratix10"] %}
.. note::

   Intel {{ "Agilex 7" if fpga_family == "agilex7soc" else "Stratix 10" }}
   SoC is not supported on the Kuiper Linux image, so all
   boot files must be manually built.

{% elif not in_kuiper %}
.. important::

  This project is not part of the release and, as such, the
  boot files need to be manually built
  using :git+hdl:`this <{{ hdl_branch }}>` HDL branch
  and :git+linux:`this <{{ linux_branch }}>` Linux branch.

{% elif fpga_family in ["a10soc", "cyclone5"] %}
.. note::

  The SD card includes several folders in the root directory of the BOOT
  partition. In order to configure the SD card to work with a specific FPGA
  board and ADI hardware, several files must be copied onto the root directory.

{% else %}
.. note::

  The SD card includes several folders in the root directory of the BOOT
  partition. In order to configure the SD card to work with a specific FPGA
  board and ADI hardware, several files must be copied onto the root directory.
  Using the host PC, drag and drop the required files onto the BOOT partition,
  and use the EJECT function when removing the SD card from the reader.

{% endif %}
The following files are needed for the system to boot:

{% if fpga_family == "zynq" %}
  - HDL boot image:  ``BOOT.bin``
  - Linux Kernel image: ``uImage``
  - Linux device tree: ``devicetree.dtb``
{% elif fpga_family == "zynqmp" %}
- HDL boot image: ``BOOT.BIN``
- Linux Kernel image: ``Image``
- Linux device tree: ``system.dtb``
{% elif fpga_family == "versal" %}
{% if carrier is defined and carrier in ["vck190", "vmk180"] %}
- For ACAP:

   - HDL boot image: ``BOOT.BIN``
   - Linux Kernel image: ``Image``
   - Linux device tree: ``system.dtb``
   - ``boot.scr``

{% if in_kuiper %}
   They can either be taken from the SD card -- already generated by us, or you
   can build them manually:

   - Instructions on how to choose the boot files from the SD card can be found in
     the **Platform-Specific Manual Steps** section from here:
     :external+kuiper:ref:`hardware-configuration`.
   - Instructions on how to manually build the boot files from source can be found
     here:

      - :ref:`linux-kernel zynqmp` (the only difference compared to the ZynqMP is
        that instead of running ``make adi_zynqmp_defconfig``,
        you must run ``make adi_versal_defconfig``)
      - :external+hdl:ref:`{{ hdl_project_doc }}` build documentation.
        More HDL build details at :external+hdl:ref:`build_hdl`.

   .. important::

      Some projects provide multiple devicetree files in the SD card's boot
      folders. Make sure you select the devicetree that matches your specific use
      case.

{% else %}
   Instructions on how to manually build the boot files from source can be found
   here:

      - :ref:`linux-kernel zynqmp` (the only difference compared to the ZynqMP is
        that instead of running ``make adi_zynqmp_defconfig``,
        you must run ``make adi_versal_defconfig``)
      - :external+hdl:ref:`{{ hdl_project_doc }}` build documentation.
        More HDL build details at :external+hdl:ref:`build_hdl`.

{% endif %}
- For System Controller:

   .. important::

      This board also requires a second SD card for the System
      Controller. The System Controller card usually comes
      pre-written from the factory and only needs to be rewritten
      if the card is replaced or you want to update the system
      controller.

   - System controller
     :xilinx:`Image <member/forms/download/design-license-xef.html?filename=sc2.2_01.img.zip>`
     (to be flashed on the System Controller SD card only if the
     card needs to be replaced or updated)

{% else %}
- HDL boot image: ``BOOT.BIN``
- Linux Kernel image: ``Image``
- Linux device tree: ``system.dtb``
- ``boot.scr``
{% endif %}
{% elif fpga_family == "microblaze" %}
- HDL bitstream file: ``system_top.bit``
- Linux Kernel image: ``simpleImage.strip``
{% elif fpga_family == "agilex7soc" %}
- FPGA bitstream: ``agilex.core.rbf``
- Linux Kernel image: ``Image``
- Linux device tree: ``socfpga_agilex_socdk.dtb``
- U-Boot image: ``u-boot.itb``
- Flash the ``.jic`` file to QSPI via JTAG using the Quartus Programmer.
{% elif fpga_family == "stratix10" %}
- Linux Kernel image: ``Image``
- Linux device tree: ``socfpga_stratix10_socdk.dtb``
- U-Boot image: ``u-boot.itb``
- Program the FPGA with the ``.sof`` file via JTAG using the Quartus Programmer.
{% elif fpga_family == "a10soc" %}
- HDL boot image: ``fit_spl_fpga.itb``
- Linux Kernel image: ``zImage``
- Linux device tree: ``socfpga_arria10_socdk_sdmmc.dtb``
- U-Boot image: ``u-boot.img``
- Boot configuration file: ``extlinux.conf`` in the **extlinux** folder from SD Card
- Secondary program loader: ``u-boot-splx4.sfp`` on **third** SD Card partition.
{% elif fpga_family == "cyclone5" %}
- HDL boot image: ``soc_system.rbf``
- Linux Kernel image: ``zImage``
- Linux device tree: ``socfpga.dtb``
- U-Boot script: ``u-boot.scr``
- Boot configuration file: ``extlinux.conf`` in the **extlinux** folder from SD Card
- Secondary program loader: ``u-boot-with-spl.sfp`` on **third** SD Card partition.
{% endif %}

{% if fpga_family in ["a10soc", "cyclone5"] %}
.. important::

   For Intel SoC-FPGA boards, the secondary program loader must be written to
   the third SD card partition, which is not accessible from Windows. You will
   need either a native Linux system or WSL to properly configure the SD card.
   For detailed file placement instructions, refer to
   :external+hdl:ref:`Using Kuiper Linux pre-built images
   <build_intel_boot_image>`.

{% endif %}
{% if not (fpga_family == "versal" and carrier is defined and carrier in ["vck190", "vmk180"]) %}
{% if fpga_family not in ["microblaze", "agilex7soc", "stratix10"] %}
{% if in_kuiper %}
They can either be taken from the SD card -- already generated by us, or you
can build them manually:

{% if fpga_family == "zynq" %}
  - Instructions on how to choose the boot files from the SD card can be
    found in the **Platform-Specific Manual Steps** section from here
    :external+kuiper:ref:`hardware-configuration`.
  - Instructions on how to manually build the boot files from source can be
    found here:

    - :ref:`linux-kernel zynq`
    - :external+hdl:ref:`{{ hdl_project_doc }}` build documentation.
      More HDL build details at :external+hdl:ref:`build_hdl`.
{% else %}
- Instructions on how to choose the boot files from the SD card can be found in
  the **Platform-Specific Manual Steps** section from here:
  :external+kuiper:ref:`hardware-configuration`.
- Instructions on how to manually build the boot files from source can be found
  here:

{% if fpga_family == "versal" %}
   - :ref:`linux-kernel zynqmp` (the only difference compared to the ZynqMP is
     that instead of running ``make adi_zynqmp_defconfig``,
     you must run ``make adi_versal_defconfig``)
   - :external+hdl:ref:`{{ hdl_project_doc }}` build documentation.
     More HDL build details at :external+hdl:ref:`build_hdl`.
{% elif fpga_family in ["a10soc", "cyclone5", "agilex7soc", "stratix10"] %}
   - :external+hdl:ref:`Building the Intel SoC-FPGA kernel and
     devicetrees from source <build_intel_boot_image>`
   - :external+hdl:ref:`{{ hdl_project_doc }}` build documentation.
     More HDL build details at :external+hdl:ref:`build_hdl`.
{% else %}
   - :ref:`linux-kernel zynqmp`
   - :external+hdl:ref:`{{ hdl_project_doc }}` build
     documentation. More HDL build details at
     :external+hdl:ref:`build_hdl`.
{% endif %}
{% endif %}
{% else %}
Instructions on how to manually build the boot files from source can be found
here:

{% if fpga_family == "zynq" %}
  - :ref:`linux-kernel zynq`
  - :external+hdl:ref:`{{ hdl_project_doc }}` build documentation.
    More HDL build details at :external+hdl:ref:`build_hdl`.
{% elif fpga_family == "versal" %}
   - :ref:`linux-kernel zynqmp` (the only difference compared to the ZynqMP is
     that instead of running ``make adi_zynqmp_defconfig``,
     you must run ``make adi_versal_defconfig``)
   - :external+hdl:ref:`{{ hdl_project_doc }}` build documentation.
     More HDL build details at :external+hdl:ref:`build_hdl`.
{% elif fpga_family in ["a10soc", "cyclone5", "agilex7soc", "stratix10"] %}
   - :external+hdl:ref:`Building the Intel SoC-FPGA kernel and
     devicetrees from source <build_intel_boot_image>`
   - :external+hdl:ref:`{{ hdl_project_doc }}` build documentation.
     More HDL build details at :external+hdl:ref:`build_hdl`.
{% else %}
   - :ref:`linux-kernel zynqmp`
   - :external+hdl:ref:`{{ hdl_project_doc }}` build
     documentation. More HDL build details at
     :external+hdl:ref:`build_hdl`.
{% endif %}
{% endif %}
{% elif fpga_family == "microblaze" %}
Instructions on how to manually build the boot files from source can be found
here:

  - :ref:`linux-kernel microblaze`
  - :external+hdl:ref:`{{ hdl_project_doc }}` build
    documentation. More HDL build details at
    :external+hdl:ref:`build_hdl`

{% elif fpga_family in ["agilex7soc", "stratix10"] %}
Instructions on how to manually build the boot files from source can be found
here:

   - :external+hdl:ref:`Building the Intel SoC-FPGA kernel and
     devicetrees from source <build_intel_boot_image>`
   - :external+hdl:ref:`{{ hdl_project_doc }}` build documentation.
     More HDL build details at :external+hdl:ref:`build_hdl`.

{% endif %}
{% if fpga_family == "microblaze" %}
.. important::

  Some projects provide multiple devicetree files. Make sure you select the
  devicetree that matches your specific use case when building the
  **simpleImage**.
{% elif fpga_family not in ["agilex7soc", "stratix10"] and in_kuiper %}
.. important::

  Some projects provide multiple devicetree files in the SD card's boot
  folders. Make sure you select the devicetree that matches your specific use
  case.
{% endif %}
{% endif %}
