name: LLM Agent

on:
  workflow_dispatch:
    inputs:
      base-sha:
        required: false
        type: string
      head-sha:
        required: false
        type: string
      run-id:
        required: false
        type: string
      prompt:
        required: false
        type: string
        default: ""
      model-small:
        required: false
        type: string
        default: "@vertexai-global/anthropic.claude-haiku-4-5@20251001"
      model-medium:
        required: false
        type: string
        default: "@vertexai-global/anthropic.claude-sonnet-4-5@20250929"
      model-large:
        required: false
        type: string
        default: "@vertexai-global/anthropic.claude-opus-4-5@20251101"
  workflow_call:
    inputs:
      base-sha:
        required: false
        type: string
      head-sha:
        required: false
        type: string
      run-id:
        required: false
        type: string
      prompt:
        required: false
        type: string
        default: ""
      model-small:
        required: false
        type: string
        default: "@vertexai-global/anthropic.claude-haiku-4-5@20251001"
      model-medium:
        required: false
        type: string
        default: "@vertexai-global/anthropic.claude-sonnet-4-5@20250929"
      model-large:
        required: false
        type: string
        default: "@vertexai-global/anthropic.claude-opus-4-5@20251101"
    secrets:
      ANTHROPIC_CUSTOM_HEADERS:
        required: false
      ANTHROPIC_BASE_URL:
        required: false
      ANTHROPIC_AUTH_TOKEN:
        required: false

permissions:
  contents: read
  checks: read

jobs:
  llm:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: read

    steps:
    - name: Check if should run
      env:
        ANTHROPIC_AUTH_TOKEN: ${{ secrets.ANTHROPIC_AUTH_TOKEN }}
      if: ${{ env.ANTHROPIC_AUTH_TOKEN != '' && env.ANTHROPIC_AUTH_TOKEN != ' ' }}
      run: |
        echo "LLM_AGENT_RUN=true" >> "$GITHUB_ENV"

    - uses: analogdevicesinc/doctools/checkout@action
      if: ${{ env.LLM_AGENT_RUN == 'true' }}
      with:
        base-sha: ${{ inputs.base-sha }}
        head-sha: ${{ inputs.head-sha }}

    - uses: analogdevicesinc/doctools/gh-collect-annotations@action
      if: ${{ env.LLM_AGENT_RUN == 'true' }}
      with:
        head-sha: ${{ github.event_name == 'workflow_dispatch' && inputs.head-sha || env.head_sha }}
        run-id: ${{ inputs.run-id }}
        repository: ${{ github.repository }}

    - name: Get claude
      if: ${{ env.LLM_AGENT_RUN == 'true' }}
      run: |
        export PATH="$HOME/.local/bin:$PATH"
        command -v claude || curl -fsSL https://claude.ai/install.sh | bash -s 2.1.37
        echo '{ "includeCoAuthoredBy": false }' > $HOME/.claude/settings.json

    - name: Prepare prompt sources
      if: ${{ env.LLM_AGENT_RUN == 'true' }}
      run: |
        prompt_file=$(mktemp --suffix=.md)
        echo "prompt_file=$prompt_file" >> "$GITHUB_ENV"
        summary_file=$(mktemp --suffix=.md)
        echo "summary_file=$summary_file" >> "$GITHUB_ENV"
        patches_path=$(mktemp -d)
        echo "patches_path=$patches_path" >> "$GITHUB_ENV"

    - name: Prepare tools
      if: ${{ env.LLM_AGENT_RUN == 'true' }}
      run: |
        export PATH="$HOME/.local/bin:$PATH"
        venv_path=$(mktemp -d)
        python3 -m venv $venv_path
        source $venv_path/bin/activate
        python3 -m ensurepip --upgrade

        pip install adi-doctools[mcp] camelot-py
        claude mcp add adoc $(which adoc-mcp)

        echo "venv_path=$venv_path" >> "$GITHUB_ENV"

    - name: Prepare top prompt
      if: ${{ env.LLM_AGENT_RUN == 'true' }}
      run: |
        # Prepare top prompt
        echo -n "${{ inputs.prompt }}" > $prompt_file
        [[ -s "$prompt_file" ]] || echo -n "
          Run a documentation review on the commit range $base_sha..$head_sha.
          The review has five big tasks:

          - Content check
          - Layout and usage check
          - Cross-references check
          - Sanity check
          - Global improvement

          ## Guidelines and Tools

          You must read $annotations_file for the CI/CD notes, warnings, and
          errors.
          You must write your final review in markdown at $summary_file as a
          GitHub Summary, since we are reviewing restructuredText pages too,
          avoid appending reST syntax in the Markdown summary and put whole
          code snippets in Markdown code blocks.

          You shall suggest fixup commits (must use \`--fixup\`) to resolve
          issues, if so, you must use \`git format-patch -o $patches_path\`
          to store the patches to the $patches_path directory (never autosquash).
          It is ok to create more than one fixup commit for the same commit.

          Do not review commits starting with \"[TMP]\", \"[ADI]\", \".github:\" or
          \"ci:\", they are not part of the series but to change the CI/CD or
          temporally change behaviour.

          The documentation must build cleanly with \`cd docs; make html\`, a
          python virtual environment is already active. You shall install pip
          packages to help you review, test and debug

          You must check the appropriate datasheets for devices and
          evaluation boards, always convert pdfs before reading it, in
          particular, camelot-py is great to get the register map. Tip, a
          sitemap with all pdfs, including the datasheets, are available at
          https://www.analog.com/media/en/en-pdf-sitemap.xml

          **Must fetch and read**, full documentation guidelines are provided at
          https://raw.githubusercontent.com/analogdevicesinc/doctools/refs/heads/main/docs/docs_guidelines/index.rst
          https://raw.githubusercontent.com/analogdevicesinc/doctools/refs/heads/main/docs/docs_guidelines/directives.rst
          https://raw.githubusercontent.com/analogdevicesinc/doctools/refs/heads/main/docs/docs_guidelines/roles.rst
          Use correct Sphinx roles and directives throughout. You must
          prioritize using Sphinx references (:ref:, :doc:, ...), and
          with those you shouldn't use custom titles, unless for placeholders
          like \"the documentation is available _here_\", where \"_here_\" is the
          custom title.

          Roles like :dokuwiki: and :adi: do require custom titles since
          they are simple link aliases, while the Sphinx references are
          baked by the Sphinx inventory.

          Remember how roles resolve:

          - :external+REPO:doc\`index\` becomes https://analogdevicesinc.github.io/REPO/index.html
          - :external+REPO:ref\`some_lable\` becomes https://analogdevicesinc.github.io/REPO/resolve/path/to/label.html
          - :git-REPO:\`Title <PATH/TO>\` becomes https://github.com/analogdevicesinc/REPO/tree/main/PATH/TO
          - :git-REPO:\`Title <PATH/TO+>\` becomes https://github.com/analogdevicesinc/REPO/PATH/TO (no \"tree/main\")
          - :adi:\`Title <PATH/TO>\` becomes https://analog.com/PATH/TO
          - :dokuwiki:\`Title <PATH/TO>\` becomes https://wiki.analog.com/PATH/TO

          You can fetch sphinx references with (change the repo (no-OS, linux, etc))
            python3 -m sphinx.ext.intersphinx https://analogdevicesinc.github.io/hdl/objects.inv
          And use adoc-search to search all repository documentations.

          This documentation is currently being imported from dokuwiki.

          You can fetch dokuwiki pages by suffixing \`?do=export_raw\`, for example
          https://wiki.analog.com/resources/fpga/docs/axi_dmac?do=export_raw
          You can match dokuwiki pagen names with \`<query>?do=search\`, for example
          https://wiki.analog.com/ad9081?do=search

          ## Task 1: Content check

          At this task, you will focus on the content, fixing content logical
          errors, as well as: Broken links References to files or pages that do not
          exist Full links when roles can be used (e.g.,
          :git-pyadi-iio:\`examples/ad4020_example.py\` , :adi:\`ad4052\` , and
          :external+hdl:ref:\`spi_engine\` )

          For added .rst files, you **must** check if it is a dokuwiki import, and if so,
          download the original page and compare the content.

          Filenames should be in lower case and dash separated:
          docs/solutions/reference-designs/ad-jupiter-ebz/hardware-overview.rst

          While references uses dashes for same words, and space for context/namespace:

            .. _jupiter-sdr hardware-overview:

          A common mistake is adding ZIP file for software and firmware downloads, like this:
          \`\`\`
          #.  Download :download:\`Pluto firmware 0.30version <plutosdr-fw-v0.30.zip>\`.
          \`\`\`

          While the correct approach is always to link to latest:
          \`\`\`
          #.  Download the Pluto firmware from :git-plutosdr-fw:\`the latest release <releases/latest+>\`.
          \`\`\`
          To ensure, the users download the latest and greatest. It is okay to
          have ZIPs for design and integration files.

          Remember, at this stage, the focus is improving the quality of the added pages.

          ## Task 2: Layout and usage check

          Contributors should use the grid and flex directives whenever possible,
          for example:

          \`\`\`
          +---------------------------------------+------------------------------------------+
          | .. figure:: ad-m2kbnc-ebz-top-web.png | .. figure:: ad-m2kbnc-ebz-bottom-web.png |
          |    :width: 600px                      |    :width: 600px                         |
          |                                       |                                          |
          +---------------------------------------+------------------------------------------+

          **Figure 1. AD-M2KBNC-EBZ Top View and Bottom View**
          \`\`\`

          Should be updated to


          \`\`\`
          .. grid::
             :widths: 50% 50%

             .. figure:: ad-m2kbnc-ebz-top-web.png

                AD-M2KBNC-EBZ Top View

             .. figure:: ad-m2kbnc-ebz-bottom-web.png

                AD-M2KBNC-EBZ Bottom View
          \`\`\`

          To ensure it is responsive on smaller screens.
          Of course true tables that contains headers, and are not simply used to great a grid,
          should be kept as tables.

          You should ensure no trailing whitespace.

          For downloads, ensure the download role is used for local files, for example,
          a common mistake is:
          \`\`\`

          .. admonition:: Download

              :adi:\`EVAL-CN0417-EBZ Design & Integration Files <CN0417-DesignSupport.zip>\`
          \`\`\`

          Because creates a https://analog.com/CN0417-DesignSupport.zip link that is not
          automatically checked.
          While the correct to download the local file is:

          \`\`\`
          .. admonition:: Download

             :download:\`EVAL-CN0417-EBZ Design & Integration Files <CN0417-DesignSupport.zip>\`
          \`\`\`

          - Not using the :download: role for download artifacts, for example:
            :adi:\`data.zip\` -> :download:\`data.zip\`,
            \`data.zip\`__ -> :download:\`data.zip\`

          ## Task 3: Cross reference check

          After doing the content check, you will check if the author used dokuwiki roles
          for content already imported.

          If there is a dokuwiki page that you noticed was already imported,
          please, replace all instances in the whole documentation, for example:

          :dokuwiki:\`ADI Reference Designs HDL User Guide <resources/fpga/docs/hdl>\`
          to
          :external+hdl:ref:\`user_guide\`

          and
          :dokuwiki:\`AXI_ADRV9002 Interface Core <resources/eval/user-guides/adrv9002/axi_adrv9002>\`
          to
          :external+hdl:ref:\`adrv9001\`

          Please note that some dokuwiki links can be misleading, for example:
          :dokuwiki:\`AXI ADC HDL Linux Driver <resources/tools-software/linux-drivers/iio-adc/axi-adc-hdl>\`
          Refers to the Linux driver of the HDL IP, that means the refernce would reside at
          :external+linux:ref:\`axi-adc-hdl\`
          However, little to no Linux page have been imported yet.

          \`adoc search\` will show you the external reference format for each
          search match, sometimes a page documents multiple parts like adrv9002
          and adrv9001. Of course, if you are in the documentation repository
          already, the reference is just :ref:\`label\` and not
          :external+documentation:ref:\`label\`. In general, you can also drop
          custom titles, like \"AXI_ADRV9002 Interface Core\".

          ## Task 4: Sanity check

          Now you will revisit all changes you made by looking at the git history.
          Deletion of links and content is not acceptable unless justified.
          Look for destructive changes that does not make sense and fix or revert.

          ## Task 5: Global improvement

          Finally, for updated dokuwiki to the new format references that you are confident,
          you shall generate patches updating the whole documentation, that is, grep
          for the original dokuwiki path, and update with the new reference.

        " | sed ':a;N;$!ba;s/  */ /g' | sed 's/^[[:space:]]*//' > $prompt_file
        cat $prompt_file

    - name: Run claude
      if: ${{ env.LLM_AGENT_RUN == 'true' }}
      env:
        ANTHROPIC_CUSTOM_HEADERS: ${{ secrets.ANTHROPIC_CUSTOM_HEADERS }}
        ANTHROPIC_BASE_URL: ${{ secrets.ANTHROPIC_BASE_URL }}
        ANTHROPIC_AUTH_TOKEN: ${{ secrets.ANTHROPIC_AUTH_TOKEN }}
        ANTHROPIC_MODEL: ${{ inputs.model-medium }}
        ANTHROPIC_DEFAULT_HAIKU_MODEL: ${{ inputs.model-small }}
        ANTHROPIC_DEFAULT_SONNET_MODEL: ${{ inputs.model-medium }}
        ANTHROPIC_DEFAULT_OPUS_MODEL: ${{ inputs.model-large }}
      run: |
        export PATH="$HOME/.local/bin:$PATH"
        source $venv_path/bin/activate

        timeout 60m adoc llm "$prompt_file" || true

    - name: Collect results
      if: ${{ env.LLM_AGENT_RUN == 'true' }}
      run: |
        [[ -s "$summary_file" ]] && cat "$summary_file" >> $GITHUB_STEP_SUMMARY || true

    - name: Store suggested patches
      if: ${{ env.LLM_AGENT_RUN == 'true' }}
      id: upload_patches
      uses: actions/upload-artifact@v4
      with:
        name: llm-patches
        path: ${{ env.patches_path }}
        if-no-files-found: ignore

    - name: Get artifact url of suggested patches
      if: ${{ env.LLM_AGENT_RUN == 'true' }}
      run: |
        [[ -z "$(ls -A "$patches_path")" ]] && exit 0

        # Requires upload-artifact@v4
        url="${{ steps.upload_patches.outputs.artifact-url }}"
        echo "## Suggested patches" >> $GITHUB_STEP_SUMMARY
        echo "" >> $GITHUB_STEP_SUMMARY
        echo "Suggested patches are provided at the [llm-patches]($url) artifact." >> $GITHUB_STEP_SUMMARY

    - name: Clean-up
      if: ${{ env.LLM_AGENT_RUN == 'true' && always() }}
      run: |
        rm -rf "$HOME/.claude"
        rm -f $HOME/.claude.json
        rm -f $HOME/.claude.*
        rm -f "$annotations_file" "$summary_file" "$prompt_file"
        rm -rf "$patches_path"
        rm -rf "$venv_path"
